@page "/about"

<PageTitle>NCalc 101</PageTitle>

<p>
	NCalc is a mathematical expressions evaluator in .NET. NCalc can parse any expression and evaluate the result, including static or dynamic parameters and custom functions.
</p>
<p>
	A comprehensive set of extensions to NCalc are provided by the NCalc Extensions project. See more details at <a href="https://github.com/panoramicdata/PanoramicData.NCalcExtensions" target="_blank">https://github.com/panoramicdata/PanoramicData.NCalcExtensions</a>
</p>
<p>
	Try a <a href="https://ncalc101.magicsuite.net/?expression=itemAtIndex%28list%28%27Heaven%27%2C%20%27Hell%27%2C%20%27Purgatory%27%29%2C%201%29%20%2B%20a%20%2B%20substring%28b%2C%202%2C%203%29%20%2B%20%27l%27%20%2B%20first%28list%28%27a%27%2C%20%27b%27%2C%20%27c%27%2C%20%27d%27%29%2C%20%27x%27%2C%20%27x%20%3E%20%5C%27c%5C%27%27%29&variables=%5b%7b%22Id%22%3a%22c9477935-0309-4197-826c-9cbab1f9ebb9%22%2c%22Type%22%3a%22System.String%22%2c%22Name%22%3a%22a%22%2c%22Value%22%3a%22o+%22%7d%2c%7b%22Id%22%3a%22aa25b8ee-1509-4adc-97a3-a77dcea9e080%22%2c%22Type%22%3a%22System.String%22%2c%22Name%22%3a%22b%22%2c%22Value%22%3a%22xJWorYvvs%22%7d%5d">"Hello World" example</a>.
</p>