@page "/about"

<PageTitle>NCalc 101</PageTitle>

<p>
	NCalc is a mathematical expressions evaluator in .NET. NCalc can parse any expression and evaluate the result, including static or dynamic parameters and custom functions.
</p>
<p>
	A comprehensive set of extensions to NCalc are provided by the NCalc Extensions project. See more details at <a href="https://github.com/panoramicdata/PanoramicData.NCalcExtensions" target="_blank">https://github.com/panoramicdata/PanoramicData.NCalcExtensions</a>
</p>