@page "/about"
@using PanoramicData.Blazor

<PageTitle>About NCalc 101</PageTitle>
<h1>About NCalc 101</h1>
<p>
	NCalc is a mathematical expressions evaluator in .NET. NCalc can parse any expression and evaluate the result, including static or dynamic parameters and custom functions, or 'extensions'.
</p>
<p>
	A comprehensive set of extensions to NCalc are provided by Panoramic Data's NCalc Extensions project.
	See more details and documentation at <a href="https://github.com/panoramicdata/PanoramicData.NCalcExtensions" target="_blank">https://github.com/panoramicdata/PanoramicData.NCalcExtensions</a>
</p>
<p>
	See the <a href="/examples">examples page</a> for er... a list of examples.
</p>
<h1>About Panoramic Data</h1>
<p>
	<a href="https://www.panoramicdata.com/">Panoramic Data</a> is a software company based in the UK.
	Our ideal customer profile is:
	<ul>
		<li>Managed Service Provider</li>
		<li>
			With one or more of the following systems:
			<ul>
				<li>LogicMonitor</li>
				<li>ServiceNow</li>
				<li>ConnectWise Manage</li>
				<li>AutoTask PSA</li>
				<li>Cherwell</li>
				<li>Microsoft Dynamics 365</li>
			</ul>
		</li>
		<li>
			And who need to:
			<ul>
				<li>lower costs</li>
				<li>automate processes</li>
				<li>integrate systems</li>
				<li>build custom applications</li>
			</ul>
		</li>
	</ul>
	If this sounds like you, you will certainly want to <a href="https://www.panoramicdata.com/support" target="_blank">get in touch</a>.
</p>