@page "/"
@using PanoramicData.Blazor;
@using PanoramicData.Blazor.Models
@using PanoramicData.NCalc101.Models

<PageTitle>NCalc 101</PageTitle>

<div class="row">
	<div class="col-12">
		<h3><i class="fa-solid fa-keyboard" /> Input</h3>
		<PDTextArea Value="@Expression" ValueChanged="OnValueChangedAsync" />
	</div>
</div>
<div class="row mt-3">
	<div class="col-12">
		@if (_exceptionMessage == string.Empty)
		{
			<h3><i class="fa-solid fa-check-circle" /> Output (@_resultType)</h3>
			<PDTextArea @bind-Value="_result" CssClass="result" IsReadOnly="true" />
		}
		else
		{
			<h3><i class="fa-solid fa-warning" /> Error</h3>
			<PDTextArea @bind-Value="_exceptionMessage" CssClass="result" IsReadOnly="true" />
		}
	</div>
</div>
<div class="row mt-3">
	<div class="col-12">
		<h3><i class="fa-solid fa-list" /> Variables</h3>
		<PDToolbar>
			<PDToolbarButton Text="String"
							 IconCssClass="fa-solid fa-a"
							 CssClass="btn-primary"
							 Click="AddVariableAsync<string>" />
			<PDToolbarButton Text="Integer"
							 CssClass="btn-primary"
							 IconCssClass="fa-solid fa-1"
							 Click="AddVariableAsync<int>" />
			<PDToolbarButton Text="Double"
							 IconCssClass="fa-solid fa-temperature-half"
							 CssClass="btn-primary"
							 Click="AddVariableAsync<double>" />
			<PDToolbarButton Text="Boolean"
							 IconCssClass="fa-solid fa-toggle-on"
							 CssClass="btn-primary"
							 Click="AddVariableAsync<bool>" />
			<PDToolbarButton Text="DateTime"
							 IconCssClass="fa-solid fa-clock"
							 CssClass="btn-primary"
							 Click="AddVariableAsync<DateTime>" />
			<PDToolbarButton Text="DateTimeOffset"
							 IconCssClass="fa-regular fa-clock"
							 CssClass="btn-primary"
							 Click="AddVariableAsync<DateTimeOffset>" />
		</PDToolbar>
		<PDTable
			TItem="Variable"
			@ref = "_table"
			DataProvider="_variableDataProviderService"
			CssClass="variable-table"
			AllowEdit="true"
			DoubleClick="OnDoubleClickRowAsync"
			AfterEdit="OnVariableChangedAsync"
			UserSelectable="true"
			KeyField="v => v.Name"
			SelectionMode="TableSelectionMode.Single"
		>
			<PDColumn TItem="Variable"
					  Id="Type"
					  Title="Type">
				<Template>
					<i class="@context.FontAwesome" />
					@context.Type.ToString()
				</Template>
			</PDColumn>
			<PDColumn TItem="Variable"
					  Id="Name"
					  Title="Name"
					  Editable="true" 
					  Field="v => v.Name" />
			<PDColumn TItem="Variable"
					  Id="Value"
					  Title="Value"
					  Editable="true"
					  Field="v => v.ValueAsString" />
		</PDTable>
	</div>
</div>