@inherits LayoutComponentBase
<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<a href="https://github.com/ncalc/ncalc" target="_blank">About NCalc</a>
			<a href="https://github.com/panoramicdata/PanoramicData.NCalcExtensions" target="_blank">About NCalc Extensions</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>