@using System.Reflection
@using PanoramicData.NCalcExtensions
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid" title="@PageTitle">
        <a class="navbar-brand" href=""><img src="favicon.png" style="height: 2em;" /> NCalc 101</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-fw fa-home" aria-hidden="true"></i>&nbsp;Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="examples">
                <i class="fa-solid fa-fw fa-list" aria-hidden="true"></i>&nbsp;Examples
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <i class="fa-solid fa-fw fa-info-circle" aria-hidden="true"></i>&nbsp;About
            </NavLink>
        </div>
        <hr />
        <ul class="nav-item px-3">
            <li class="px-0">
                <NavLink class="nav-link">
                    <i class="fa-solid fa-fw fa-folder" aria-hidden="true"></i>&nbsp;Workspaces
                </NavLink>
                <ul>
                @foreach (var workspaceName in _workspaceNames.OrderBy(n => n))
                {
                        <li class="nav-item px-0" style="list-style-type: none;">
                        <NavLink class="nav-link" @onclick="() => ClickAsync(workspaceName)">
                                <i class="fa-solid fa-fw fa-desktop"></i>&nbsp;@workspaceName.Substring(0, Math.Min(@workspaceName.Length, 15))
                        </NavLink>
                    </li>
                }
                </ul>
            </li>
        </ul>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string PageTitle => $"NCalc 101 v{ThisAssembly.AssemblyFileVersion} (using NCalcExtensions v{Assembly.GetAssembly(typeof(ExtendedExpression))?.GetName().Version})";
}