@using System.Reflection
@using PanoramicData.NCalcExtensions
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid" title="@PageTitle">
        <a class="navbar-brand" href=""><img src="favicon.png" style="height: 2em;" /> NCalc 101</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa-solid fa-fw fa-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="examples">
                <span class="fa-solid fa-fw fa-list" aria-hidden="true"></span> Examples
            </NavLink>
        </div>
        <hr />
        @foreach(var workspaceName in _workspaceNames.OrderBy(n => n))
        {
        <div class="nav-item px-3">
                <NavLink class="nav-link" @onclick="() => ClickAsync(workspaceName)">
                <i class="fa-solid fa-fw fa-file-text"></i> @workspaceName.Substring(0, Math.Min(@workspaceName.Length, 15))
            </NavLink>
        </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string PageTitle => $"NCalc 101 v{ThisAssembly.AssemblyFileVersion} (using NCalcExtensions v{Assembly.GetAssembly(typeof(ExtendedExpression))?.GetName().Version})";
}