@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<h1>MagicSuite example app</h1>

<AuthorizeView>
	<Authorized>
		<div>Welcome @_person?.Name</div>
		<ul>
			<li>User Id: @_person?.Id</li>
			<li>Name: @_person?.Name</li>
			<li>Username: @_person?.UserName</li>
			<li>TenantAdmin: @_person?.IsTenantAdministrator</li>
			<li>SuperAdmin: @_person?.IsSuperAdmin</li>
		</ul>
	</Authorized>
	<NotAuthorized>
		<div>You are not logged in</div>
	</NotAuthorized>
</AuthorizeView>