@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<h1>MagicSuite example app</h1>

<AuthorizeView>
	<Authorized>
		<div>You are logged in</div>
	</Authorized>
	<NotAuthorized>
		<div>You are not logged in</div>
	</NotAuthorized>
</AuthorizeView>